html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'SegoeUI', sans-serif;
    color: #737373;
}

.card-full {
    width: 100%;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 91px;

}

#question-section {
    height: 91px;
    text-align: center;
    background-color: #00a1f1;
    border-width: 0px;
}

#question-section-body {
    border-width: 0px;
    border-top-width: 1px;
}

#section {
    margin-top: 40px;
    margin-left: 22px;
    border-width: 0px;
}

#title {
    font-size: 50px;
    margin-bottom: 10px;
}

.btn.btn-first-choice {
    border-radius: 0%;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 90%;
}

.row {
    height: 200px;
}

#intermediate {
    border-width: 0px;
    margin-top: -20px;
}

.row.sections {
    height: 85px;
}

.row.d-flex {
    height: 150px;
}

#leftup {
    background-color: #f65314;
    border-color: white;
    border-width: 2px;
}

#leftup:hover {
    background-color: white;
    color: #f65314;
    border-color: #f65314;
    border-width: 2px;
}

#leftdown {
    background-color: #00a1f1;
    border-color: white;
    border-width: 2px;
}

#leftdown:hover {
    background-color: white;
    color: #00a1f1;
    border-color: #00a1f1;
    border-width: 2px;
}

#rightup {
    background-color: #7cbb00;
    border-color: white;
    border-width: 2px;
}

#rightup:hover {
    background-color: white;
    color: #7cbb00;
    border-color: #7cbb00;
    border-width: 2px;
}

#rightdown {
    background-color: #ffbb00;
    border-color: white;
    border-width: 2px;
}

#rightdown:hover {
    background-color: white;
    color: #ffbb00;
    border-color: #ffbb00;
    border-width: 2px;
}

.card {
    border-radius: 0px;
}

.btn.thumbnail:hover {
    color: #737373;
    border-color: #737373;
    border-radius: 10%;
}

.btn.thumbnail {
    border-color: white;
    border-width: 2px;
    color: white;
    border-radius: 10%;
}

.btn.btn-sq.btn-second-choice {
    background-color: #00a1f1;
    color: white;
    float: right;
}

.btn.btn-block.sectionweight {
    background-color: #00a1f1;
    color: white;

    height: 40px;

}

.btn.btn-block.suggweight {
    color: white;
    border-radius: 3%;
    height: 140px;
    width: 60%;
}

.btn.btn-block.weight {
    color: white;
    margin-top: 12px;
    height: 40px;
    width: 66%;
    margin-left: 36%;
}

.btn.btn-block.suggweight.gender {
    background-color: #00a1f1;
}

.btn.btn-block.weight.gender {
    background-color: #00a1f1;

}

.btn.btn-block.suggweight.healthcare {
    background-color: #00a1f1;
}

.btn.btn-block.weight.healthcare {
    background-color: #00a1f1;
}

.btn.btn-block.suggweight.automotive {
    background-color: #00a1f1;
}

.btn.btn-block.weight.automotive {
    background-color: #00a1f1;
}

.btn.btn-block.suggweight.education {
    background-color: #00a1f1;
}

.btn.btn-block.weight.education {
    background-color: #00a1f1;
}

.btn-circle {
    background-color: #00a1f1;
    border-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24)
}

.btn-circle:hover {
    color: #737373;
    border-color: #737373;
    background-color: #00a1f1;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.button-floating {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.row.h-100 {
    text-align: center;
}

.button-group-center > row {
    bottom: 100px;
}

.hide {
    display: none;
}

.col-md-4, .col-md-6 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.radio-toolbar input[type=radio] + label {
    margin: 2%;
    height: 33px;
    width: 38px;
    text-align: center;
    vertical-align: center;
    color: white;
    background: #00a1f1;
    border-radius: 10%;
    padding: 5px 5px;
}

.radio-toolbar input[type=radio]:checked + label {
    border-width: 5px;
    color: #737373;
    height: 35px;
    width: 45px;
}

.inputbox {
    margin: 5px;
    border-radius: 3%;
}

.inputbox.healthcare {
    text-align: center;
    border-width: 1px;
    color: #00a1f1;
    border-radius: 5px 5px 5px 5px;
}

.inputbox.automotive {
    text-align: center;
    border-width: 1px;
    color: #ffbb00;
    border-radius: 5px 5px 5px 5px;
}

.inputbox.education {
    text-align: center;
    border-width: 1px;
    color: #f65314;
    border-radius: 5px 5px 5px 5px;
}

.inputbox.gender {
    text-align: center;
    border-width: 1px;
    color: #7cbb00;
    border-radius: 5px 5px 5px 5px;
}

nav a {
    list-style: none;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 28px;
    padding-top: 29px;
    color: white;
    font-size: 1.1em;
    display: block;
    transition: all .3s ease-in-out;
}

nav a :hover {
    color: #737373;
    transform: scale(1.2);
    cursor: pointer;
}

nav a :first-child {
    margin-top: 7px;
}

.leftbox nav .active {
    color: #737373;
}

.leftbox {
    float: left;
    top: -5%;
    left: 5%;
    color: white;
    border-radius: 0%;
    background: #00a1f1;
    box-shadow: 3px 3px 10px rgba(gray, .5);
    height: auto;
}

#logo {
    position: absolute;
    height: 91px;
    width: 91px;
}

li {
    margin-top: -3px;
}

.col-sm-4 {
    margin-top: 80px;
}

#impact {
    margin-top: 160px;
    margin-bottom: -80px;
}

#results {
    border-width: 0px;
}

#resultspanel h2 {
    margin-bottom: -30px;
}

#firstdonut {
    margin-bottom: -50px;
    padding-left: 20px;
}

#firstbar {
    padding-left: 100px;
}

#otherdonout {
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: -20px;
}

#sectionquality {
    padding-left: 20px;
}

#subtitle {

    margin-bottom: 50px;
    font-size: 30px;
}

p {
    cursor: pointer;
}

.swal-button {
    padding: 7px 19px;
    background-color: #00A4EF;
    font-size: 12px;
}
#suggestedweight{
    margin-left: 105px;
}
#suggestedweightintro{
    margin-left: 55px;
    margin-top: 20px;
}

