@media (max-width:2000px) {
    .right{
        margin-right: 45%;
    }
    .left{
        margin-left: 45%;
    }
}

@media (max-width:1300px) {
    .right{
        margin-right: 35%;
    }
    .left{
        margin-left: 35%;
    }
}

@media (max-width:1200px) {
    .right{
        margin-right: 30%;
    }
    .left{
        margin-left: 30%;
    }
}

@media (max-width:1100px) {
    .right{
        margin-right: 25%;
    }
    .left{
        margin-left: 25%;
    }
}

@media (max-width:1050px) {
    .right{
        margin-right: 20%;
    }
    .left{
        margin-left: 20%;
    }
}

@media (max-width:1000px) {
    .right{
        margin-right: 15%;
    }
    .left{
        margin-left: 15%;
    }
}

@media (max-width:950px) {
    .right{
        margin-right: 10%;
    }
    .left{
        margin-left: 10%;
    }
}
@media (max-width:900px) {
    .right{
        margin-right: 5%;
    }
    .left{
        margin-left: 5%;
    }
}

@media (max-width:850px) {
    .right{
        margin-right: 0%;
    }
    .left{
        margin-left: 0%;
    }
}

@media (max-width:767px) {
    .right{
        margin-right: 0px;
    }
    .left{
        margin-left: 0px;
    }
    nav a {
        list-style: none;
        padding-right: 10.5px;
        padding-left:10.5px;
        padding-bottom: 62px;
        padding-top:21px;
        margin-top:5px;
        margin-bottom: 20px;
        color: white;
        font-size: 1.1em;
        display: block;
        transition: all .3s ease-in-out;
    }
    #logo{
        height: 43px;
        width: 43px;
    }
    #question-section{
        height: 43px;
    }

    .container-fluid{
        padding-right: 0px;
        padding-left: 43px;
    }
    #intermediate{
        font-size: 12px;
    }

    .btn.btn-block.sectionweight{
        font-size: 12px;
        height: 35px;
        width: 160px;
    }

    .btn.thumbnail{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 3px;
        height: 18px;
        margin-bottom: 30px;
        margin-left:-5%;
    }

    h1{
        font-size:18px;
    }

    h2{
        font-size:14px;
    }

    h6{
        font-size:10px;
    }

    #section{
        margin-top:20px;
        margin-left:22px;
        border-width: 0px;
    }

    .btn.btn-block.suggweight{
        font-size: 10px;
        color:white;
        border-radius: 3%;
        height:80px;
        width: 40%;
    }
    
    .btn.btn-block.weight{
        font-size:10px;
        color:white;
        margin-top: -142px;
        height:80px;
        width: 55%;
        margin-left:-3%;
    }

    .button-floating{
        position:relative;
        margin-top:-130px;
        margin-left:300px;
    }


    .radio-toolbar input[type=radio] + label {
        font-size:12px;
        margin:1%;
        height: 25px;
        width: 38px;
    } 
    .radio-toolbar input[type=radio]:checked + label {
       border-width: 5px;
       color:#737373;
       height: 30px;
       width: 40px;
    } 
    .radio-toolbar{
        margin-top:-10px;
        margin-bottom:-10px;
    }
    #question-section-body{
        margin-bottom: -40px;
    }

    ul{
        font-size: 12px;
        margin-top:-20px;
        margin-bottom: -30px;
        margin-left:-30px;
    }

    .row.sections{
        height: 12%;
    }

    #btn-second-choice{
        margin-top:10px;
    }

    #title{
        margin-top: -120px;
    }

    #microsoft{
        margin-top:-100px;
    }

    .swal-overlay {
        background-color: #cacaca;
    }

    .swal-button {
        padding: 7px 19px;
        background-color: #00a1f1;
        font-size: 12px;
    }
}


